$primary-color: #EDF0F4;
$secondary-color: #ffffff;
$thirdary-color: #1a252f;
$fourthary-color: #007bff;
$fifthary-color: #64748b;

$valid-color: #28a745;
$invalid-color: #dc3545;

$dark-100: #f5f5f5;
$dark-200: #cccccc;
$dark-300: #999999;
$dark-400: #666666;
$dark-500: #333333; 
$dark-600: #222222;
$dark-700: #111111;
$dark-800: #000000;
$dark-900: #141414;
$dark-1000: #232323;
$dark-1100: #282828;


$hover-color: #444;
$box-shadow-light: 0 4px 22px rgba(0, 0, 0, 0.07);