@use '../base/variables' as *;

.password-label {
    // flex-direction: column;
    // align-items: flex-start;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    label {
        margin-bottom: 0.25rem; // Reduced from 10px
        margin-right: 10px;
        font-size: 0.875rem; // Added to reduce height
    }
}

.toggle-password {
    background: none;
    border: none;
    cursor: pointer;
    color: $dark-400;
    display: flex;
    align-items: center;
    outline: none;
    font-size: 0.75rem; // Reduced from 0.875rem
    margin-bottom: 0.25rem; // Reduced from 10px

    &:focus {
        outline: none;
        box-shadow: none;
    }

    .eye-icon {
        margin-right: 3px; // Reduced from 5px
    }

    .eye {
        width: 12px; // Reduced from 15px
    }
}


.password-requirements {
    display: grid;
    grid-template-columns: repeat(2, 1fr); // Fixed two columns
    gap: 5px; // Reduced from 10px
    margin-bottom: 0.75rem; // Reduced from 1.25rem
    margin-top: 0.5rem;
    list-style: none;
    padding: 0;
    font-size: 0.75rem; // Reduced from 14px

    li {
        display: flex;
        align-items: center;
        gap: 3px; // Reduced from 5px
        flex-wrap: wrap;
        line-height: 1.2; // Added to reduce height

        &.valid {
            color: $valid-color;
        }

        &.invalid {
            color: $invalid-color;
        }
    }
}

@media (min-width: 992px) {
    .password-requirements {
        grid-template-columns: repeat(2, 1fr); // Keep two columns on larger screens
    }
}


@media (max-width: 768px) {
    .password-requirements {
        grid-template-columns: 1fr; // Single column on medium screens
    }
}

@media (max-width: 576px) {
    .toggle-password {
        margin-top: 0.25rem; // Reduced from 0.3125rem
        margin-bottom: 0.25rem; // Reduced from 0.5rem
    }
}