@use '../../base/variables' as *;
@use '../../base/typography' as *;
@use '../../components/button' as *;
@use '../../components/otpInputGroup' as *;
@use '../../components/form' as *;
@use '../../components/headerLink' as *;

// Áp dụng font chữ cho toàn bộ trang
.forgot-password-container {
    font-family: $font-primary;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    
    // Bố cục tổng thể
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: $primary-color;
    flex-wrap: wrap; /* Cho phép các phần tử di chuyển xuống dưới khi cần */

    .right-section {
        flex: 1;
        height: 100vh;
        background-color: $primary-color;
        display: flex;
        justify-content: center;
        align-items: start;
        padding: 20px;
      }
    
    .left-section {
        flex: 2;
        height: 100vh;
        background-color: $secondary-color;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }
}

// Card chứa form
.forgot-password-card {
    background: $secondary-color;
    padding: 40px;
    border-radius: 12px;
    width: 100%;
    max-width: 400px; /* Giới hạn chiều rộng tối đa */
    box-shadow: 0px 8px 20px $dark-800;
}

// Input fields
.form-control {
    border-radius: 8px;
    padding: 12px;
    font-size: 16px;
    border: 1px solid $dark-200;
    width: 100%;
    transition: border 0.3s ease-in-out;

    &:focus {
        border-color: $primary-color;
        outline: none;
    }
}

// OTP form
.forgot-password-card, .otp-form {
    .otp-input {
        background-color: $secondary-color;
        border: 1.5px solid $dark-400;
        padding: 10px;
        border-radius: 9px;
        font-size: 16px;
        width: 100%;
        max-width: 360px;
        height: 50px;
        display: block;
        transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
        text-align: center;
    }
}

// Quy định mật khẩu
.forgot-password-container .password-requirements {
    grid-template-columns: repeat(1, 1fr); /* Chia thành 2 cột */
}

// Media query cho màn hình nhỏ
@media (max-width: 768px) {
    .right-section, .left-section {
        width: 100%; /* Đảm bảo các phần tử chiếm toàn bộ chiều rộng */
    }

    .forgot-password-card {
        padding: 20px;
        max-width: 90%; /* Cho phép card chiếm nhiều diện tích hơn trên màn hình nhỏ */
    }
}
